modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"
packages = ["python312Packages.pip", "python3", "uv", "supabase-cli"]

[workflows]
runButton = "Run Web App"

[[workflows.workflow]]
name = "Run Web App"
author = 43413430
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/web && pnpm install && pnpm run dev"
nixpkgs = ["wkhtmltopdf"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "cd apps/web && pnpm start"]
build = ["sh", "-c", "cd apps/web && pnpm install && pnpm run build"]
